<html>
   <html>
   <head>
      <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
      <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" type="text/css" href ="hello.css">

     <!--Style of hovering -->
     <style type="text/css">
     a:hover   {color:none; background-color:transparent; text-decoration:none }
     </style>


   </head>
<body >
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div id = "huh"class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title" id = "teachit">TeachIt</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav id = "nav"class="mdl-navigation mdl-layout--large-screen-only">
        <a id="drawer_tabs" class="mdl-navigation__link" href="">Homepage</a>
        <a id="drawer_tabs"class ="mdl-navigation__link" href="">Enrolled Courses</a>
        <a id="drawer_tabs"class="mdl-navigation__link" href="">Update Profile</a>
        <a id="drawer_tabs"class="mdl-navigation__link" href="">Logout</a>
        <a id="drawer_tabs"class="mdl-navigation__link" href="">hello user</a>
      </nav>
    </div>
    <div id= "huh"class = "mdl-layout__header-row">
 <span id="drawer_tabs" class="mdl-layout-title">ADMIN DASHBOARD</span>
<div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>

        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="fixed-header-drawer-exp">
        </div>
      </div>
      
  </header>
  
  <main class="mdl-layout__content">
      <div>
        

      <div class="mdl-grid" >
        <!--first grid-->
            <div class="mdl-cell mdl-cell--4-col" >
           
  <div id="uppertabs">
  <div id = "cards1"class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Statistics</h2>
  </div>
  <div class="mdl-card__supporting-text">
    The number of hour and the numbe of the videos the viewer is engaged with the videos and blah blah
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="Viwer_Stats1.html" target="_blank">
      Viewer Statistics 
    </a>
  </div>
</div>
</div>

<div id="lowertabs">
<div id = "cards2"class="demo-card-square mdl-card mdl-shadow--2dp" >
  <div class="mdl-card__title mdl-card--expand" >
    <h2 class="mdl-card__title-text">Statistics-1</h2>
  </div>
  <div class="mdl-card__supporting-text">
    The number of hour and the numbe of the videos the viewer is engaged with the videos and blah blah
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="Viwer_Stats1.html" target="_blank">
      Viewer Statistics 
    </a>
  </div>
</div>
</div>
</div><!--mdlcell1-->


<!--second grid -->

  <div class="mdl-cell mdl-cell--4-col" >
    <div id ="uppertabs">
   <div id = "cards2" class="demo-card-square mdl-card mdl-shadow--2dp">
   <div class="mdl-card__title mdl-card--expand">
  <h2 class="mdl-card__title-text">Uploader Statistics</h2>
  </div>
 <div class="mdl-card__supporting-text">
    The number of video hours a user can engage the viewers is shown by Opting a bar graph which will gerate the user to the hours.
  </div>
  <div class="mdl-card__actions mdl-card--border">
  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="UploaderStats1.html" target="_blank">
   Uploader Statistics </a></div>
   
          
</div>
</div id ="4"><!--coloumn2 row1-->

<div id="lowertabs"><!--coloumn2 row2-->
<div id = "cards1"class="demo-card-square mdl-card mdl-shadow--2dp" >
  <div class="mdl-card__title mdl-card--expand" >
    <h2 class="mdl-card__title-text">Statistics-2</h2>
  </div>
  <div class="mdl-card__supporting-text">
    The number of hour and the numbe of the videos the viewer is engaged with the videos and blah blah
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="Viwer_Stats1.html" target="_blank">
      Viewer Statistics 
    </a>
  </div>
</div>
</div>
</div>

<!--3 rd grid-->
          <div class="mdl-cell mdl-cell--4-col">
            <div id ="uppertabs"> <!--coloumn2 row2-->
   <div id = "cards1"class="demo-card-square mdl-card mdl-shadow--2dp">
   <div class="mdl-card__title mdl-card--expand">
  <h2 class="mdl-card__title-text">Statistics-4</h2>
  </div>
 <div class="mdl-card__supporting-text">
    The Courses that are making more than 50k a  year based on the genre in which are creating the courses and 
  </div>
  <div class="mdl-card__actions mdl-card--border">
  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"  href="stats2.html" target = "_blank">
   Favourite Statistics </a></div>
          
</div>
</div>

<div id="lowertabs">
<div id = "cards2"class="demo-card-square mdl-card mdl-shadow--2dp" >
  <div class="mdl-card__title mdl-card--expand" >
    <h2 class="mdl-card__title-text">Statistics-3</h2>
  </div>
  <div class="mdl-card__supporting-text">
    The number of hour and the numbe of the videos the viewer is engaged with the videos and blah blah
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="stats2.html" target="_blank">
      Viewer Statistics 
    </a>
  </div>
</div>
</div>
</div>


<!--end of grid 3-->


    </main>
</div>
</body>
</html>