<html>
  <head>
     <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
      <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" type="text/css" href ="hello.css">



    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Language', 'Speakers (in millions)'],
          ['Sports', 13], ['Humanity', 43], ['Algorithms', 61.4],
          ['Bussiness', 12.3], ['Pshycology', 46], ['MateraialDesign', 10],
        
         
        ]);

        var options = {
          title: 'Revernure by Genre',
          legend: 'none',
          pieSliceText: 'labe4',
          slices: {  4: {offset: 0.2},
                    12: {offset: 0.3},
                    14: {offset: 0.4},
                    15: {offset: 0.5},
          },
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>

    <div id = class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div id = "huh"class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title" id = "teachit">TeachIt</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav id = "nav"class="mdl-navigation mdl-layout--large-screen-only">
        <a id="drawer_tabs"class ="mdl-navigation__link" href="">Dashboard</a>

        <a id="drawer_tabs"class ="mdl-navigation__link" href="">uPDATE Profile</a>

        <a id="drawer_tabs"class="mdl-navigation__link" href="">Crete Course</a>
                <a class="mdl-navigation__link" href="">Bank Details</a>

        <a id="drawer_tabs"class="mdl-navigation__link" href="">Logout</a>
      </nav>
    </div>
    <div id= "huh"class = "mdl-layout__header-row">
 <span id="drawer_tabs"class="mdl-layout-title">UPLOADER DASHBOARD</span>
<div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>

        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="fixed-header-drawer-exp">
        </div>
      </div>
      
  </header>
</div>
<div id="graph" style="padding-left:300px;padding-top:40px">
    <div id="piechart" style="width: 700px; height: 400px;"></div>
  </div>
  </body>
</html>