<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="/scripts/material.min.css">
    	<script src="/scripts/material.min.js"></script>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Homepage!</title>
    </head>
    <body>
      <% include uploader_navbar.html %>
      <br/><br/><br/><br/>
      <div class="mdl-layout">
        All courses <br/>
        <%  for(var i=0; i<courses.length; i++) { %>
        <form method="post" action='/editcourse'>
        <div class="mdl-cell mdl-cell--12-col send-button">
            <button type="submit" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored mdl-color--primary" name='<%= courses[i].course_name %>'>
            <%= courses[i].course_name %>
            </button>
        </div>
        </form>
        <br/>
        <% } %> 
      </div>
      <div class="mdl-layout">
      </div>
    </body>
</html>