<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/home_style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/login_style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

        <title>Uploader dashboard!</title>

    </head>
    <body>
      <% include uploader_navbar.html %>
      <link href="css/uploader_style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

      <div class="row">
        <br/>

        <div class="col s3">
          <div>
          <ul class="collapsible popout" data-collapsible="accordion">
            <li class="courses center">
              <p><b><I>ALL COURSES</I></b> </p>
            </li>

            <li>
              <div class="collapsible-header">
                <i class="material-icons">
                </i>
               
              </div>
              <div class="collapsible-body">
                <ul>
                  <%  for(var i=0; i<courses.length; i++) { %>
                  <li class="list-pad">
                  <form method="post" action='/editcourse'>
                    <div>
                        <button type="submit" class="waves-effect btn-flat" name='<%= courses[i].course_name %>'>
                        <%= courses[i].course_name %>
                        </button>
                    </div>
                  </form>
                  <br/> 
                  </li>
                  <% } %>
                </ul>
              </div>
            </li>
          </ul> 
          </div>
        </div>

        <div class="col s9">

        </div>

      </div>

















<!--       <br/><br/><br/><br/>
      <div>
        <%  for(var i=0; i<courses.length; i++) { %>
        <form method="post" action='/editcourse'>
          <div>
              <button type="submit" class="waves-effect btn-flat" name='<%= courses[i].course_name %>'>
              <%= courses[i].course_name %>
              </button>
          </div>
        </form>
        <br/>
        <% } %> 
      </div> -->
    </body>
</html>