<!DOCTYPE html>
<html>
    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
     
      <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <!--  Scripts-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="js/materialize.js"></script>
      <script src="js/init.js"></script>

      <script type="text/javascript" src="/js/jwplayer.js"></script>
      <script>jwplayer.key="fNMS9OobQNK60RX98PytRr3Zm8QrkDYmnapXlA==";</script>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script  src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <title>You Enrolled to this Course!</title>
      </head>
    <body>
      <% include viewer_navbar.html %>
      <br /> <br /> <br /> <br />

      <%= coursename %> <br />
      <% var current_video = videos[0] %>
      <% var video_name = "/videos/" + current_video.video_filename %>
      <% var video_thumbnail_vttfile = "/videos/" + current_video.video_thumbnail_vttfile %>
      <% var video_marker_vttfile = "/videos/" + current_video.video_marker_vttfile %>
      <% var video_quiz_qn = current_video.video_quiz_qn %>
      <% var video_quiz_ans = current_video.video_quiz_ans %>

      <br/><br/>
      <div class="mdl-layout">
        <div id="player"></div>
        <script type="text/javascript">
            jwplayer("player").setup({
              
                file: '<%= video_name %>',
                height: "360",
                width: "640",
                tracks: [{ 
                file: '<%= video_thumbnail_vttfile %>',
                kind: "thumbnails"
                }, {
                file:'<%= video_marker_vttfile %>',
                kind:'chapters'
                }]
            
            });
            var clicked = false;
            var ques = '<%= video_quiz_qn %>';
            jwplayer().onReady(function() { 
              jwplayer().onTime(function(event) {
                  if(Math.floor(event.position) == 3 && !clicked) {
                        clicked = true;
                        jwplayer().pause();
                        var bgdiv = document.createElement("div");
                        var texdiv = document.createElement("div");
                        var quizform = document.createElement("form");
                        var quizquestion = document.createElement("div");
                        var truebutton = document.createElement("input");
                        var truebuttondiv = document.createElement("div");
                        var falsebutton = document.createElement("input");
                        var falsebuttondiv = document.createElement("div");
                        var breaktag = document.createElement('br');
                        // var submit = document.createElement("button");
                        var submit = document.createElement('a');

                        if (jwplayer().getRenderingMode() == "html5"){
                          var theBody = document.getElementById(player.id);
                        } else {
                          var theBody = document.getElementById(player.id+"_wrapper");
                        }
                        var playerWidthPX2 = theBody.style.width;
                        var playerWidthPX = parseFloat(playerWidthPX2);
                        var playerHeightPX2 = theBody.style.height;
                        var playerHeightPX = parseFloat(playerHeightPX2);

                        bgdiv.setAttribute('id', 'bg');
                        bgdiv.style.height = playerHeightPX + "px";
                        bgdiv.style.width = playerWidthPX2;
                        bgdiv.style.background = "#333333";
                        bgdiv.style.opacity = "0.70";
                        bgdiv.style.position = "absolute";
                        bgdiv.style.zIndex = "900";

                        texdiv.style.textAlign = "center";
                        texdiv.style.paddingTop  = playerHeightPX/2.0;

                        quizquestion.innerHTML = ques;
                        quizquestion.style.fontFamily = "arial,_sans";
                        quizquestion.style.fontSize = "18px";
                        quizquestion.style.color = "#ffffff"

                        truebuttondiv.innerHTML = 'TRUE';
                        truebuttondiv.style.color = "#ffffff";
                        truebutton.name = 'quizanswer';
                        truebutton.value = 'True';
                        truebutton.type = 'radio';
                        truebutton.setAttribute('id', 'true');
                        truebutton.style.fontFamily = "arial,_sans";

                        falsebuttondiv.innerHTML = 'FALSE';
                        falsebuttondiv.style.color = "#ffffff"
                        falsebutton.name = 'quizanswer';
                        falsebutton.value = 'False';
                        falsebutton.type = 'radio';
                        falsebutton.setAttribute('id', 'false');
                        falsebutton.style.fontFamily = "arial,_sans";

                        var message = 'Submit';
                        submit.innerHTML = message;
                        submit.href = "#";
                        submit.style.textDecoration = "none";
                        submit.style.outline = "0";
                        submit.style.MozUserSelect = 'none';
                        submit.style.KhtmlUserSelect = 'none';
                        submit.style.WebkitUserSelect = 'none';
                        submit.style.OUserSelect = 'none';
                        submit.style.UserSelect = 'none';
                        submit.style.fontSize = "18px";
                        submit.style.color = "#ffffff";
                        submit.style.fontFamily = "arial,_sans";
                        submit.setAttribute('id', 'txt');


                        theBody.appendChild(bgdiv); 
                        bgdiv.appendChild(texdiv); 
                        texdiv.appendChild(quizform);
                        quizform.appendChild(breaktag);
                        quizform.appendChild(quizquestion);
                        quizform.appendChild(breaktag);
                        quizform.appendChild(truebuttondiv);
                        truebuttondiv.appendChild(truebutton);
                        quizform.appendChild(breaktag);
                        quizform.appendChild(falsebuttondiv);
                        falsebuttondiv.appendChild(falsebutton);
                        falsebuttondiv.appendChild(falsebutton);
                        quizform.appendChild(breaktag);
                        quizform.appendChild(submit);
                        quizform.appendChild(breaktag);

                        var ans = <%= video_quiz_ans %>;
                        var errordiv = document.createElement("div");
                        errordiv.innerHTML = 'Incorrect Answer. Try again!';
                        errordiv.style.visibility = "hidden";
                        errordiv.style.color = "#ffffff";
                        quizform.appendChild(errordiv);
                        quizform.appendChild(breaktag);
                        submit.onmouseup = function(){
                          if((document.getElementById("true").checked && ans == true) || (document.getElementById("false").checked && ans == false)){
                            bgdiv.style.display = "none"; 
                            jwplayer().play();
                          }
                          else{
                            errordiv.style.visibility = "visible";
                          }
                          
                        }


                        quizform.style.zIndex = "999";
                        submit.style.zIndex = "2000";
                        truebutton.style.zIndex = "999";
                        falsebutton.style.zIndex = "999";

                  }
              });

            });
        </script>
      </div>

    <div class="mdl-layout">
         <form method="post" action="javascript:addLike('<%= coursename %>', '<%= current_video.video_filename %>', '<%= viewername %>')">
             <input type="text" name="course_name" value='<%= coursename %>' hidden>
             <input type="text" name="video_filename" id="current_playing_video" value='<%= current_video.video_filename %>' hidden>
            <button type="submit" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored mdl-color--primary" name="like"><i class="material-icons">thumb_up</i></button><br/><br/>
        </form>

        <form method="post" action="javascript:addDislike('<%= coursename %>', '<%= current_video.video_filename %>', '<%= viewername %>')">
             <input type="text" name="course_name" value='<%= coursename %>' hidden>
             <input type="text" name="video_filename" id="current_playing_video" value='<%= current_video.video_filename %>' hidden>
            <button type="submit" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored mdl-color--primary" name="like"><i class="material-icons">thumb_down</i></button><br/><br/>
        </form>

        <script> 
        function addLike(coursename, video_filename, viewername) {
            console.log(coursename);
            video_filename = document.getElementById("current_playing_video").getAttribute("value");
            $.ajax({
                url : '/addlike',
                type : 'POST',
                data : {
                    coursename : coursename,
                    video_filename : video_filename,
                    viewername : viewername
                },
                error : function(xhr, textStatus, thrownError) {
                    console.log("Errorr");
                    console.log(thrownError);
                    console.log(textStatus);
                    console.log(xhr);
                },
                success : function() {
                    console.log("Liked!!!!");
                }

            });
            
        }

        function addDislike(coursename, video_filename, viewername) {
            video_filename = document.getElementById("current_playing_video").getAttribute("value");
            $.ajax({
                url : '/adddislike',
                type : 'POST',
                data : {
                    coursename : coursename,
                    video_filename : video_filename,
                    viewername : viewername
                },
                error : function(xhr, textStatus, thrownError) {
                    console.log("Errorr");
                    console.log(thrownError);
                    console.log(textStatus);
                    console.log(xhr);
                },
                success : function() {
                    console.log("Disliked!!!!");
                }

            });
        }
        </script>
        
        <% for(var j=0; j<videos.length; j++) { %>
            <% var currentVid = {"file" : ""} %>
            <% currentVid.file = "/videos/" + videos[j].video_filename %>
            <% var vidName = "javascript:loadPlaylist(" + "{ 'file' :"+ "'/videos/" + videos[j].video_filename + "'})" %>

            <a href='<%= vidName %>' ><%= videos[j].video_filename %></a><br/>
        <% } %>

        <script type="text/javascript">
        var current_playing_video = '';
        function loadPlaylist(thePlaylist) {
            current_playing_video = thePlaylist.file.substring(8);
            
            var list = document.getElementById("commentList");
            list.innerHTML = '';
            
            console.log("current_playing_video : "+current_playing_video);
            document.getElementById("current_playing_video").setAttribute("value", current_playing_video);
            loadComments(current_playing_video);
            jwplayer().load(thePlaylist)
        }  

        
        function loadComments(current_playing_video) {
            console.log(current_playing_video);
            var videosList = eval($('#video').val());
            console.log(videosList[0].video_filename);
            for(var i=0; i < <%= videos.length %>; i++){

                if(current_playing_video == videosList[i].video_filename){
                    console.log("Found the video...loading comments...");
                    for(var j=0; j<videosList[i].video_comments.length; j++){
                        var currentcomment = videosList[i].video_comments[j];
                        console.log(currentcomment.comment);
                        var newcomment = document.createElement("li");
                        var comment = document.createElement("p");
                        var spanelememt = document.createElement("span");
                        var image = document.createElement("img");
                        var list = document.getElementById("commentList");
                        image.setAttribute('class', 'circle');
                        image.setAttribute('src', "images/image01.jpg");
                        newcomment.setAttribute('class', 'collection-item avatar');
                        spanelememt.setAttribute('class', 'title');
                        spanelememt.innerHTML = currentcomment.viewername;
                        comment.innerHTML = currentcomment.comment;


                        newcomment.appendChild(image);
                        newcomment.appendChild(spanelememt);
                        newcomment.appendChild(comment);
                        list.appendChild(newcomment);
                    }
                    break;
                }
            }
        }
        </script>

        <div id="vids" hidden>
           <input type="text" value= '<%- JSON.stringify(videos) %>' id="video">
        </div>
    
    </div>

    
      <div class="row">
        <form class="col s12" method="post" action="javascript:addComment('<%= coursename %>', '<%= current_video.video_filename %>', '<%= viewername %>', '<%= comments %>')">
             <input type="text" name="course_name" value='<%= coursename %>' hidden>
             <input type="text" name="video_filename" id="current_playing_video" value='<%= current_video.video_filename %>' hidden>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="comment_area" class="materialize-textarea"></textarea>
              <label for="comment_area">Comments</label>
            </div>
          </div>
          <button type="submit" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored mdl-color--primary" name="comment"><i class="material-icons">send</i></button><br/><br/>
        </form>
     </div>

      <script> 
        function addComment(coursename, video_filename, viewername, comments) {
                // comment = document.getElementById("comment_area").getAttribute("value");
                comment = $('#comment_area').val();
                
                console.log(comment);
                video_filename = document.getElementById("current_playing_video").getAttribute("value");
                $.ajax({
                    url : '/addcomment',
                    type : 'POST',
                    data : {
                        coursename : coursename,
                        video_filename : video_filename,
                        comment : comment,
                        viewername : viewername
                    },
                    error : function(xhr, textStatus, thrownError) {
                        console.log("Errorr");
                        console.log(thrownError);
                        console.log(textStatus);
                        console.log(xhr);
                    },
                    success : function(data) {
                        console.log("Commented!!!!");
                        console.log(data.comment);
                        var newcomment = document.createElement("li");
                        var comment = document.createElement("p");
                        var spanelememt = document.createElement("span");
                        var image = document.createElement("img");
                        var list = document.getElementById("commentList");
                        image.setAttribute('class', 'circle');
                        image.setAttribute('src', "images/image01.jpg");
                        newcomment.setAttribute('class', 'collection-item avatar');
                        spanelememt.setAttribute('class', 'title');
                        spanelememt.innerHTML = data.comment.viewername;
                        comment.innerHTML = data.comment.comment;


                        newcomment.appendChild(image);
                        newcomment.appendChild(spanelememt);
                        newcomment.appendChild(comment);
                        list.appendChild(newcomment);
                        document.getElementById("video").setAttribute('value', JSON.stringify(data.videos));
                        $('#comment_area').val('');
                    }

                });
                
            }
        </script>

        <div>
            <ul class="collection" id="commentList">
            <% for(var i=0; i<comments.length; i++) { %>
            <li class="collection-item avatar">
              <img src="images/image01.jpg" alt="" class="circle">
              <span class="title"><%= comments[i].viewername %></span>
              <p><%= comments[i].comment %><br>
              </p>
            </li>
            <% } %>
          </ul>
        </div>
    </body>
</html>