<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="/scripts/material.min.css">
    	<script src="/scripts/material.min.js"></script>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Homepage!</title>
    </head>
    <body>
      <div class="mdl-layout mdl-js-layout">
        <header class="mdl-layout__header">
          <div class="mdl-layout-icon"></div>
          <div class="mdl-layout__header-row">
            <span class="mdl-layout__title">TeachIt!</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
              <a class="mdl-navigation__link" href="/viewer">Homepage</a>
              <a class="mdl-navigation__link" href="#">Courses Enrolled</a>
              <a class="mdl-navigation__link" href="/updateprofile">Update Profile</a>
              <a class="mdl-navigation__link" href="#">Hello User</a>
              <a class="mdl-navigation__link" href="/logout">Logout</a>
            </nav>
          </div>
        </header>
      </div>
    </body>
</html>